<h1>Restablecimiento de contraseña</h1>
<hr>
<form action="/api/sessions/forget-password" method="post">
    Email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br><br> 
</form>
<hr>
<button onclick="location.href='/login'">Login</button>
<hr>
<button onclick="location.href='/register'">Registrate</button>