<h1>Crea una nueva contraseña</h1>
<hr>
<form action="/api/sessions/reset-password/{{ this.user }}" method="post">
    Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Cambiar contraseña"><br><br> 
</form>
<hr>
<button onclick="location.href='/login'">Login</button>
<hr>
<button onclick="location.href='/register'">Registrate</button>